<?xml version="1.0"?>
<robot xmlns:xacro="http://wwww.ros.org/wiki/xacro">

    <!-- Specify UMA brand colors for Gazebo -->
    <!-- Gazebo doesn't parse URDF colors, so we need to define them here again -->
    <material name="gazebo_uma_blue_dark">
        <color rgba="0 0.18 0.36 1" />
    </material>

    <material name="gazebo_uma_blue_light">
        <color rgba="0.168 0.569 0.816 1" />
    </material>

    <material name="gazebo_uma_pink">
        <color rgba="0.8 0 0.4 1" />
    </material>

    <gazebo reference='base_link'>
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference='link_1'>
        <material>Gazebo/Turquoise </material>
    </gazebo>

    <gazebo reference='link_2'>
        <material>Gazebo/Purple</material>
    </gazebo>

    <!-- This plugin will publish the joint_states for the selected joints 
            (which robot_state_publisher can then use to broadcast the approprate tf). -->
    <gazebo>
        <plugin name="gazebo_ros_joint_state_publisher"
            filename="libgazebo_ros_joint_state_publisher.so">
            <update_rate>20</update_rate>
            <joint_name>joint_1</joint_name>
            <joint_name>joint_2</joint_name>
        </plugin>
    </gazebo>


    <!-- This plugin will read a JointTrajectory message from the /set_joint_trajectory topic 
            and move the machine accordingly. It's a bit clunky but it works. -->
    <!-- You'll probably want to add damping to the joints to stop them it flopping around. 
            e.g. <dynamics damping="10.0" friction="10.0"/> -->
    <!-- Here's an example message to publish to test it:
            ros2 topic pub -1 /set_joint_trajectory trajectory_msgs/msg/JointTrajectory  '{header: {frame_id:
    world}, joint_names: [joint_1, joint_2], points: [  {positions: {0.8,0.6}} ]}' -->
    <gazebo>
        <plugin name="gazebo_ros_joint_pose_trajectory"
            filename="libgazebo_ros_joint_pose_trajectory.so">
            <update_rate>20</update_rate>
        </plugin>
    </gazebo>


</robot>